html {
  background-color: #000;
  color: #eee;
}

.ezmoney {
  position: fixed;
  color: green;
  z-index: 999;
  font-size: 10vw;
  font-weight: 900;
}

#gameCanvas {
  width: 56.25vh;
  height: 100vh; /* height:width ratio = 9/16 = .5625  */
  max-height: 177.78vw;
  max-width: 100vw; /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  z-index: -99;
}

